
img{
    height: 50%;
    width: 50%;
    margin: auto;
    align-self: center;
    display: block;
  }

  h1{
    text-align: center;
    color: darkorange;
 }
 h2{
    text-align: center;
    color: darkorange;
 }

 input[type=text] {
  color: rgb(148, 148, 219);
  background-color: rgba(15, 3, 29, 0.904)!important;
}