<ion-header>
    <ion-toolbar>
        
      <ion-title>Cadastro <ion-icon name="create"></ion-icon></ion-title>
      
    </ion-toolbar>
  </ion-header>
  
<ion-content>
<div class="ion-padding">
  <ion-item>
    <ion-label position="floating">Nome</ion-label>
    <ion-input type="text"  [(ngModel)]="nome"></ion-input>
  </ion-item>

  <ion-item>

      <ion-label position="floating">E-mail</ion-label>
      <ion-input type="text"  [(ngModel)]="email"></ion-input>
  </ion-item>

  <ion-item>
      <ion-label position="floating">Login</ion-label>
      <ion-input type="text"  [(ngModel)]="login"></ion-input>
    </ion-item>

  <ion-item>
    <ion-label position="floating">Senha</ion-label>
    <ion-input  type="password"  [(ngModel)]="senha"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Confirmação da Senha</ion-label>
    <ion-input  type="password"  [(ngModel)]="confsenha"></ion-input>
  </ion-item>
</div>

<div class="ion-padding">
  <ion-button color="primary" expand="full" (click)='cadastro()'>Registrar</ion-button>
</div>

</ion-content>-->
