<ion-header>
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <div class="ion-padding">
      <h1>Trabalho de Desenvolvimento Móvel</h1>
    
      <ion-card-header >
          <img src="assets/img/logosuam.png"  alt="UNISUAM"/>
      </ion-card-header>

      
      <h2>Projeto IONIC</h2>
      <ul>
        <h4>Alunos - Desenvolvedores</h4>
        <li>
            <p>Anderson Ferreira Canel - 16102264</p>
      
        </li>
        <li>
            <p>Claudio</p>
        </li>
      </ul>
      
    </div>
</ion-content>
