
img{
    height: 30%;
    width: auto;
    margin: auto;
    display: grid;
  }
  
h1{
   text-align: center;
   color: darkorange;
}
h2{
   text-align: center;
   color: darkorange;
}
ul{
   color: darkorange;
}
